/* Загальні стилі для зображень */
.frame {
    display: none;
    width: 100%;
    height: auto;
}

/* За замовчуванням показуємо зображення для великих екранів */
.mobile-images {
    display: none; /* Приховуємо зображення для мобільних за замовчуванням */
}

.desktop-images {
    display: block; /* Показуємо зображення для десктопів */
}

/* Для мобільних пристроїв (ширина екрана <= 768px) показуємо зображення для мобільних */
@media only screen and (max-width: 768px) {
    .mobile-images {
        display: block; /* Показуємо зображення для мобільних */
    }

    .desktop-images {
        display: none; /* Приховуємо зображення для десктопів */
    }
}

/* Стиль для активного зображення */
.active {
    display: block;
}
