/* Загальні стилі для зображень */
.frame {
    display: none;
    width: 100%; /* робимо зображення адаптивними */
    height: auto;
}

/* За замовчуванням показуємо зображення для великих екранів */
.mobile-image {
    display: none;
}

.desktop-image {
    display: block;
}

/* Для мобільних пристроїв (ширина екрана <= 768px) показуємо зображення для мобільних */
@media only screen and (max-width: 768px) {
    .mobile-image {
        display: block; /* Показуємо зображення для мобільних */
    }

    .desktop-image {
        display: none; /* Приховуємо зображення для великих екранів */
    }
}

/* Стиль для активного зображення */
.active {
    display: block;
