/* Загальні стилі для зображень */
.frame {
    display: none;
    width: 100%;
    max-width: 100%; /* Запобігає масштабуванню */
    height: auto;
}

/* Стиль для активного зображення */
.active {
    display: block;
}

/* Для мобільних пристроїв */
@media only screen and (max-width: 768px) {
    .mobile-images {
        display: block; /* Показуємо зображення для мобільних */
    }

    .desktop-images {
        display: none; /* Приховуємо зображення для десктопів */
    }
}
